
<nav class="navbar navbar-inverse">

	<div class="container-fluid">

		<div class="navbar-header">
			<a class="navbar-brand" href="#">AMC Movie Recommender</a>
		</div>
		<ul class="nav navbar-nav">
			<li class="active"><a href="#">Home</a></li>
			<li class=""><a href="#">Contact</a></li>
		</ul>

		<form class="navbar-form navbar-left" action="">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-default">Submit</button>
			</div>

		</form>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
			<li><a href="#"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>

		</ul>
	</div>
</nav>

<div class="row">
	<div class="col-md-9">
		<div class="row">
			<h2>Movies You May Like</h2>
			<div class="col-md-5">
				<img src="images/m1.jpg">
				<div class="desc">
					<h5><a href="#">Action movie 1</a></h5>
					<p>A great action movie featuring..</p>
				</div>
			</div>
			<div class="col-md-5">
				<img src="images/m2.jpg">
				<div class="desc">
					<h5><a href="#">Romantic movie 1</a></h5>					
					<p>A great romantic movie featuring..</p>
				</div>
			</div>
			<div class="col-md-5">
				<img src="images/m3.jpg">
				<div class="desc">
					<h5><a href="#">Dear Princess</a></h5>
					<p>A princess lost in her world !!</p>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-3">

		<div class="sidebar-nav-fixed pull-right affix">
			<div class="well">
				<ul class="nav">
					<li class="nav-header">Categories</li>

					<li class="active"><a href="#">Action</a>
					<li class=""><a href="#">Romantic</a>
					<li class=""><a href="#">Fairy</a>
				</ul>
			</div>
		</div>

	</div>

</div>